<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Nerd</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/shades-of-purple.min.css">
    <script src="https://kit.fontawesome.com/f796b34f57.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <div class="loader-container">
        <div class="mask-container">
            <i class="fab fa-twitter twitter-icon"></i>
        </div>
    </div>

    <main class="index">
        <%- include ('partials/header.ejs'); %>


        <div class="container">
            <div class="sidebar left-sidebar">
                <!-- Left sidebar content -->
                <div class="profile">
                    <img src="../images/lainecedes.png" alt="Profile Picture">
                    <h2>⭐️ Elaine ⭐️</h2>
                    <p>@lainecedes</p>
                    <p>This is my Weekly Nerd blog where I write posts of many lecturers throughout the minor Web Design and Development.</p>
                    <ul>
                        <li><i class="fa-solid fa-location-dot"></i>Amsterdam</li>
                        <li><i class="fa-solid fa-link"></i><a href="https://elainewilberforce.com">elainewilberforce.com</a></li>
                        <li><i class="fa-regular fa-newspaper"></i>Front-End Developer</li>
                        <li><i class="fa-solid fa-cake-candles"></i>Joined 23 years ago</li>
                    </ul>
                </div>
    
                <!-- Other sidebar content -->
            </div>
            <div class="main-content">
                <!-- Main content -->


                <ul class="tweet-container">
                    <% timelineLecturers.forEach(data => { %>
                        <li class="tweet">

                            <div class="tweet-content">
                                <div class="tweet-header">
                                    <img src="<%= data.img %>" alt="<%= data.name %>">
                                    <h3><%= data.name %></h3>
                                   <a href="<%= data.href %>"><span class="tweet-username"><%= data.username %></span></a>
                                    <p class="tweet-date"><%= data.date %></p>
                                </div>
                                <p class="tweet-text"><%= data.tweet %></p>
                                <div class="tweet-details"></div>
                                <!-- Tweet actions -->
                                <div class="tweet-actions">
                                    <i class="fas fa-reply"></i>
                                    <i class="fas fa-retweet"></i>
                                    <i class="fas fa-star favorite-button"></i>
                                    <i class="fas fa-ellipsis-h"></i>
                                </div>
                            </div>
                        </li>
                    <% }); %>
                </ul>

                <!-- More tweets -->
            </div>
            <div class="sidebar right-sidebar">
                <!-- Right sidebar content -->
                <div class="suggestions">
                    <h3>You may also like</h3>
                    <ul>
                        <% shuffledLecturers.slice(0, 5).forEach(user => { %>
                            <li><a href="<%= user.href %>"><%= user.username %></a></li>
                        <% }); %>
                    </ul>
                    
                    <%- include ('partials/footer.ejs'); %>
                </div>
            </div>
        </div>

        <!-- <section class="content">
            <h2>Elaine's blog scribbles</h2>
            <p>In mijn blog hou ik de Weekly Nerd colleges bij en maak ik posts over wat ik 
                ervan vind.</p>

            <h3>Leerdoelen</h3>
            <ul>
                <li>
                    <p>1. Beter worden in samenwerken want heb nog steeds de neiging om alles zelf te doen terwijl voor meerdere projecten het soms beter is om in een team te zitten.</p>
                    <p>2. Eigen tooling pakket bouwen: een standaard pakket hebben waar ik proficient kan worden zodat ik beter web apps kan bouwen. Nu probeer ik van alles en is het een beetje rommelig qua structuur.</p>
                    <p>3. Websites voor all en ook all bouwen, meer letten op dat mensen die beperkingen hebben ook je site bezoeken en dit zoveel mogelijk standaard maken. Het feit dat een website goed toegankelijk is (or zelfs gewoon goede en creatieve ondertiteling beschikbaar is in een video zoals bij Marie in HCD) maakt echt zoveel verschil voor de user experience en zorgt ervoor dat ze niet worden buitengesloten en media ook goed kan ervaren.</p>
                </li>
            </ul>
        </section>  -->
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="/scripts/script.js"></script>
</body>
</html>